on init
    write /sys/class/backlight/panel0-backlight/brightness 200

    setprop sys.usb.controller ${vendor.usb.controller}
    wait /sys/class/udc/${sys.usb.controller}/state
    setprop sys.usb.configfs 1
