on init
    # IR
    chown system system /sys/class/leds/infrared/transmit
    chown system system /sys/class/leds/infrared/brightness

on post-fs-data
    # Create folder for mm-qcamera-daemon
    mkdir /data/vendor/qcam/ 0770 camera camera

# Restart camera provider after vendor.qcamerasvr is running
on property:init.svc.vendor.qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera-provider-2-4

# Fingerprint
service vendor.goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    group system
    oneshot

# FM
on property:hw.fm.init=*
    write /sys/module/radio_iris_transport/parameters/fmsmd_set ${hw.fm.init}

# USB
on property:ro.product.vendor.model=*
    setprop vendor.usb.product_string ${ro.product.vendor.model}

# xtra-daemon
on property:persist.sys.xtra-daemon.enabled=*
    restart loc_launcher

# ZRAM
on property:sys.boot_completed=1
    swapon_all /vendor/etc/fstab.zram
